.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

#card {
  padding: 50px;
  min-height: 35vh;
  margin: 20px;
  border: 1px solid #cbced2;
  border-radius: 10px;
  color: #326a9d;
  font-family: 'Roboto';
  list-style: none;
  margin-left: 0px;
}

.button {
  background-color: transparent;
  border: 2px solid #326a9d;
  padding: 10px;
  border-radius: 8px;
  color: #326a9d;
  font-weight: 600;
}
.para {
  color: #64748b;
}
